*~
*.DS_Store
*.pyc
*.so
*.pkl
*.egg-info/
*.pdf
build/
dist/
examples/work/
paper/figs/
paper/paper/
paper/times/
talks/
tests/
work/
*.docx
docs/
sims/revision/scratch_data/psths_lrs_coh.p
sims/revision/scratch_data/psths_lrs_coh_nonoise.p
sims/revision/scratch_data/psths_dirs_coh.p
sims/revision/exemplar_new/scratch_data/trials_dir_scol.p
sims/revision/exemplar_new/scratch_data/psths_lrs_coh.p
sims/revision/exemplar_new/scratch_data/psths_dirs_coh.p
