*~
*.DS_Store
*.pyc
*.so
*.egg-info/
*.pdf
build/
dist/
examples/work/
paper/figs/
paper/paper/
paper/times/
talks/
tests/
work/
*.docx
docs/
sims/revision/scratch_data/psths_lrs_coh.p
sims/revision/scratch_data/psths_lrs_coh_nonoise.p
sims/revision/scratch_data/psths_dirs_coh.p
sims/revision/exemplar_new/scratch_data/trials_dir_scol.p
sims/revision/exemplar_new/scratch_data/psths_lrs_coh.p
sims/revision/exemplar_new/scratch_data/psths_dirs_coh.p
sims/revision/exemplar_new/scratch_data/
sims/revision/scratch_data/
*copy.pkl
sims/Revision_main_development.ipynb
sims/.ipynb_checkpoints/
paper/
sims/neurips/
